extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Vlad Nadtoka

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My name is Vladyslav, but you can call me Vlad (or hiven). I love coding, gaming, traveling, and reading. I am a full stack developer with experience writing high-quality code for websites and mobile apps.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express
          li npm
          li jQuery
          li OOP
          li JSON
          li AJAX
          li Fetch
        h6 Contact Info

        ul
          li 818-626-4167
          li vladyslavnadtoka@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/vladyslav-nadtoka-12a310170/') LinkedIn
        a.button.expanded(href='https://github.com/thehiven') GitHub
        a.button.expanded(href='https://twitter.com/thehiven') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  